.sloganWrapper {
    height: 16em;
    padding-top: 3em;
    background-image: linear-gradient(#C41230, #9FA1A4);
}

.sloganWrapper p {
    width: 60%;
    margin: 0 auto;
}

@media only screen and (max-width: 838px) {
    .sloganWrapper {
        height: 17em;
        padding-top: 2em;
    }
    .sloganWrapper p {
        width: 80%;
    }
}

@media only screen and (max-width: 450px) {
    .sloganWrapper h2 {
        font-size: 1.5em;
    }
    .sloganWrapper p {
        font-size: 0.8em;
    }
}