.our-team-section-wrapper {
    padding: 1rem 3rem;
}

.aboutSectionWrapper {
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: '0.6rem'
}

.bg-lin-grad-blue {
    background-image: linear-gradient(rgb(0, 37, 102), rgb(101, 127, 173));
}

.bg-lin-grad-red {
    background-image: linear-gradient(rgb(196, 18, 48), rgb(196, 139, 148));
}

.aboutSectionImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 18em;
    width: 18em;
    border-radius: 50%;
    margin: 0.5rem auto;
    box-shadow: 9px 5px 15px rgb(0 0 0 / 10%);
}

.aboutSectionText {
    background-size: 100%;
    padding: 2em 0;
    text-align: justify;
    text-indent: 2em;
}

.aboutSectionText p {
    width: 90%;
    margin: 0 auto 0 auto;
}

.aboutSectionHeader {
    padding: 0.5em 0;
    text-align: center;
    font-size: 2em;
}

.specialties {
    padding: 0 1rem;
}

p {
    text-indent: 2rem;
}

h5 {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    /* border-bottom: 1px solid #000; */
}

ul {
    padding: 0.25rem 4rem;
}

@media (max-width: 820px) {
    .our-team-section-wrapper {
        padding: 0 0.5rem;
    }
    .aboutSectionWrapper {
        margin: 1rem 0.25rem;
    }
    .aboutSectionImage {
        height: 14em;
        width: 14em;
    }
    .specialties {
        display: block;
        /* padding: 0 0.25rem; */
    }
}